* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3f3f3;
}

section {
  position: relative;
  overflow: hidden;
}

/* DISABLE CSS TRANSITION ON MEDIA QUERY */
body.stop-transition .nav-menu {
  transition: none !important;
}

@media (min-width: 768px) {
  .col {
    flex: 1;
  }
}

.row {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}

body {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  position: relative;
  z-index: 1;
}

h3 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px #484848;
}

p {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
}

#anchor {
  position: fixed;
  right: 3vw;
  bottom: 3vw;
  width: min(80px, 20vw);
  z-index: 3;
  -webkit-animation: wiggle 3s infinite alternate;
          animation: wiggle 3s infinite alternate;
}

@-webkit-keyframes wiggle {
  from {
    transform: rotate(-35deg);
  }
  to {
    transform: rotate(35deg);
  }
}

@keyframes wiggle {
  from {
    transform: rotate(-35deg);
  }
  to {
    transform: rotate(35deg);
  }
}
.button-primary-100 {
  color: #edf0fd;
  background-color: #fdf9ed;
}

.button-primary-200 {
  color: #beccf8;
  background-color: #f8ebbe;
}

.button-primary-300 {
  color: #90a7f3;
  background-color: #f3dc90;
}

.button-primary-400 {
  color: #6283ef;
  background-color: #efce62;
}

.button-primary-500 {
  color: #345eea;
  background-color: #eabf34;
}

.button-primary-600 {
  color: #1643d4;
  background-color: #d4a816;
}

.button-primary-700 {
  color: #1134a6;
  background-color: #a68311;
}

.button-primary-800 {
  color: #0d2678;
  background-color: #785f0d;
}

.button-primary-900 {
  color: #08174a;
  background-color: #4a3a08;
}

.button-secondary-100 {
  color: #f0f3fa;
  background-color: #faf6f0;
}

.button-secondary-200 {
  color: #c9d6ee;
  background-color: #eee0c9;
}

.button-secondary-300 {
  color: #a3b9e1;
  background-color: #e1caa3;
}

.button-secondary-400 {
  color: #7c9dd5;
  background-color: #d5b47c;
}

.button-secondary-500 {
  color: #5680c8;
  background-color: #c89e56;
}

.button-secondary-600 {
  color: #3965b1;
  background-color: #b18539;
}

.button-secondary-700 {
  color: #2d4f8b;
  background-color: #8b682d;
}

.button-secondary-800 {
  color: #203964;
  background-color: #644b20;
}

.button-secondary-900 {
  color: #14233e;
  background-color: #3e2e14;
}

.button-rose-100 {
  color: #ffebf4;
  background-color: #ebfff5;
}

.button-rose-200 {
  color: #ffb8d9;
  background-color: #b8ffde;
}

.button-rose-300 {
  color: #ff85be;
  background-color: #85ffc6;
}

.button-rose-400 {
  color: #ff52a3;
  background-color: #52ffae;
}

.button-rose-500 {
  color: #ff1f87;
  background-color: #1fff96;
}

.button-rose-600 {
  color: #eb006d;
  background-color: #00eb7d;
}

.button-rose-700 {
  color: #b80056;
  background-color: #00b862;
}

.button-rose-800 {
  color: #85003e;
  background-color: #008547;
}

.button-rose-900 {
  color: #520026;
  background-color: #00522c;
}

.button-turq-100 {
  color: #dffbf8;
  background-color: #fbdfe3;
}

.button-turq-200 {
  color: #b1f6ed;
  background-color: #f6b1ba;
}

.button-turq-300 {
  color: #83f1e3;
  background-color: #f18392;
}

.button-turq-400 {
  color: #55ecd8;
  background-color: #ec5569;
}

.button-turq-500 {
  color: #27e7cd;
  background-color: #e72741;
}

.button-turq-600 {
  color: #16c5ae;
  background-color: #c5162d;
}

.button-turq-700 {
  color: #119786;
  background-color: #971123;
}

.button-turq-800 {
  color: #0c6a5d;
  background-color: #6a0c18;
}

.button-turq-900 {
  color: #073c35;
  background-color: #3c070e;
}

.button-sky-100 {
  color: #ccf9ff;
  background-color: #ffd2cc;
}

.button-sky-200 {
  color: #99f3ff;
  background-color: #ffa599;
}

.button-sky-300 {
  color: #66edff;
  background-color: #ff7866;
}

.button-sky-400 {
  color: #33e7ff;
  background-color: #ff4b33;
}

.button-sky-500 {
  color: #00e1ff;
  background-color: #ff1e00;
}

.button-sky-600 {
  color: #00b4cc;
  background-color: #cc1800;
}

.button-sky-700 {
  color: #008799;
  background-color: #991200;
}

.button-sky-800 {
  color: #005a66;
  background-color: #660c00;
}

.button-sky-900 {
  color: #002d33;
  background-color: #330600;
}

/* Hamburger */
.hamburger {
  padding: 15px;
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hamburger-inner {
  background-color: #484848;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -7px;
  transition: top 0.15s 0.15s ease, opacity 0.1s ease;
}
.hamburger-inner::after {
  bottom: -7px;
  transition: bottom 0.15s 0.15s ease, transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 20px;
  height: 3px;
  background-color: #484848;
  position: absolute;
}

.hamburger.active {
  position: fixed;
  right: 0;
  height: 4.5rem;
}
.hamburger.active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger.active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.15s ease, opacity 0.1s 0.15s ease;
}
.hamburger.active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.15s ease, transform 0.15s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* divider-wave */
.divider-wave {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index: 1;
  top: 0;
  position: relative;
  left: 0px;
  float: left;
  background-color: transparent;
}
.divider-wave .wave1 use {
  -webkit-animation: left-wave 10s linear infinite;
          animation: left-wave 10s linear infinite;
}
.divider-wave .wave2 use {
  -webkit-animation: right-wave 8s linear infinite;
          animation: right-wave 8s linear infinite;
}
.divider-wave .wave3 use {
  -webkit-animation: left-wave 6s linear infinite;
          animation: left-wave 6s linear infinite;
}
.divider-wave .wave4 use {
  -webkit-animation: right-wave 4s linear infinite;
          animation: right-wave 4s linear infinite;
}
@media (min-width: 768px) {
  .divider-wave {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@-webkit-keyframes left-wave {
  from {
    transform: translateX(85px);
  }
  to {
    transform: translateX(-90px);
  }
}

@keyframes left-wave {
  from {
    transform: translateX(85px);
  }
  to {
    transform: translateX(-90px);
  }
}
@-webkit-keyframes right-wave {
  from {
    transform: translateX(-90px);
  }
  to {
    transform: translateX(85px);
  }
}
@keyframes right-wave {
  from {
    transform: translateX(-90px);
  }
  to {
    transform: translateX(85px);
  }
}
/* divider-wave2 */
.divider-wave2 {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index: 1;
  bottom: 0;
  position: absolute;
  left: 0px;
  float: left;
  background-color: transparent;
}
.divider-wave2 .wave2 use {
  -webkit-animation: right-wave 8s linear infinite;
          animation: right-wave 8s linear infinite;
}

/* Header */
header {
  height: 4.5rem;
}

.nav {
  height: 4.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f3f3f3;
  box-shadow: 0 1px 5px #dadada;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.3s;
  z-index: 2;
}

.nav a {
  height: 100%;
}

.logo {
  height: 100%;
  padding: 0 10px;
}

.nav-menu {
  position: absolute;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  padding-top: 4.5rem;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}
@media (min-width: 768px) {
  .nav-menu {
    position: relative;
    width: auto;
    height: 100%;
    flex-direction: row;
    box-shadow: none;
    padding-top: 0;
    transform: translateX(0);
  }
}

.nav-menu.active {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.nav-menu-list {
  margin: 20px;
}

.nav-menu-link {
  padding: 20px;
}

.nav-backdrop {
  visibility: hidden;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.nav-backdrop.active {
  visibility: visible;
  opacity: 1;
}

/* Hero Section */
.hero-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  min-height: 75vh;
  padding: 4rem 0;
}
@media (min-width: 768px) {
  .hero-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.hero-text span {
  background: hsl(226deg, 81%, 56%);
  background: linear-gradient(45deg, hsl(226deg, 81%, 56%), hsl(172deg, 80%, 53%));
  background-size: 500%;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-animation: text-animation 2s infinite alternate;
          animation: text-animation 2s infinite alternate;
}

@-webkit-keyframes text-animation {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

@keyframes text-animation {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
.hero-img {
  width: 90%;
  margin: 0 auto;
}

.minions {
  position: absolute;
  overflow: hidden;
  top: 0;
  height: 100%;
}

.minion {
  position: relative;
  bottom: 0;
  left: 0;
  width: 10%;
}

/* About Section */
.about {
  background: turquoise;
  padding: 7rem 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.profile-picture {
  text-align: center;
  position: relative;
}
.profile-picture img {
  height: 300px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 10px aquamarine);
}
@media (min-width: 768px) {
  .profile-picture {
    flex: 1;
  }
}

.col {
  padding: 1rem 0;
}

.title-section {
  margin-bottom: 2rem;
  color: #ffffff;
  text-shadow: 2px 2px 5px #484848;
}
.title-section::after {
  content: "";
  display: block;
  border-bottom: 15px solid #ff1f87;
  border-radius: 10px;
  box-shadow: 2px 2px 10px hotpink;
  width: 8rem;
  position: relative;
  left: 1rem;
  bottom: 0.8rem;
  z-index: -1;
}

.about p, .about i, .about li {
  color: #ffffff;
  text-shadow: 2px 2px 10px hsl(218deg, 51%, 56%);
}

/* Bubbles */
.bubble_container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.bubble_container svg {
  height: 100%;
  overflow: visible;
}

.burst1, .burst2, .burst3, .burst4 {
  opacity: 0;
}

.bubble1, .bubble2, .bubble3, .bubble4, .bubbles {
  fill: white;
  opacity: 0.8;
}

/* Skills */
.tab {
  overflow: hidden;
  z-index: 1;
}
@media (min-width: 768px) {
  .tab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }
}

.tablinks {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Comfortaa", sans-serif;
  color: white;
  text-shadow: 2px 2px 5px #484848;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 2rem 1rem 0;
  transition: color 0.3s;
}
.tablinks:hover {
  color: hsl(226deg, 81%, 56%); /*fix later*/
}
@media (min-width: 768px) {
  .tablinks {
    margin-left: 15vw;
  }
}

.tablinks.active {
  color: hsl(332deg, 100%, 56%);
  transition: color 0.9s;
}

.tabcontent {
  display: none;
  padding-top: 2rem;
  color: white;
}
@media (min-width: 768px) {
  .tabcontent {
    flex: 1;
  }
}

.tab .active::after {
  content: "";
  display: block;
  border-bottom: 4px solid hsl(332deg, 100%, 56%);
  border-radius: 5px;
  width: 2rem;
  position: relative;
  bottom: -5px;
}

.skills-row {
  display: flex;
  justify-content: center;
  max-width: 30rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .skills-row {
    margin: 0;
  }
}

.skills-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 3rem;
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.skills-item i {
  font-size: 4rem;
}
.skills-item .skills-name {
  white-space: nowrap;
}

.hobbies-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}
.hobbies-item i {
  width: 3rem;
  font-size: 1.5rem;
}

/* Projects Section */
#projects {
  background: #4579e2;
  padding: 7rem 0;
  color: #ffffff;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (min-width: 768px) {
  .projects {
    flex-direction: row;
  }
}

.project {
  background: #4e5da6;
  border-radius: 10px;
  box-shadow: 2px 2px 10px turquoise;
}
@media (min-width: 768px) {
  .project {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .project {
    width: 30%;
  }
}
.project .col {
  padding: 1rem;
}
.project .col img {
  border-radius: 10px;
  box-shadow: 2px 2px 10px white;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.project-info {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.project-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.project-tags li {
  font-size: 0.9rem;
  border-radius: 4px;
  padding: 2px 5px;
  background: #4579e2;
}

.project-link {
  color: #00e2ff;
  font-weight: bold;
  display: flex;
  gap: 0.5rem;
  transition: 0.3s;
}
.project-link:hover {
  color: hsl(332deg, 100%, 56%);
}

/* Contact Section*/
#contact {
  height: 80vh;
}

.contact {
  background: #4e5da6;
  padding: 7rem 0;
}

/* Footer */
footer {
  padding: 3rem 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.tentacles {
  background: url(../../assets/tentacles_bg.png);
  background-repeat: repeat-x;
  position: absolute;
  background-size: contain;
  bottom: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.tidehunter {
  background: url(../../assets/tidehunter_full.png) repeat-x 0 bottom transparent;
  position: absolute;
  background-size: contain;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.socials {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
}
.socials a {
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 2px 2px 10px #000;
}

.copyright {
  position: relative;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 10px #000;
  font-size: 1rem;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */