/* RESET ROOT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #f3f3f3;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}

/* CSS VARIABLES */
:root {
    --primary-color: #335eea;
    --link-color:background-color: #506690;
    --button-hover-color: #2b50c7;
    --fixed-header-height: 4.5rem;
}


/* MOBILE FIRST STYLE */
/* Header */
header {
    height: var(--fixed-header-height);
}
.nav {
    height: var(--fixed-header-height);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #DADADA;
    position: fixed;
    top: 0;
    left: 0;
}
.logo {
    height: 100%;
}
.nav_menu {
    position: absolute;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    padding-top: var(--fixed-header-height);
    right: 0;
    transform: translateX(100%);
    transition: transform .3s ease-in;
}
.nav_menu.active {
    transform: translateX(0);
    transition: transform .3s ease-out;
}
.nav_menu_list {
    margin: 20px;
}
.nav_menu_link {
    padding: 20px;
}
.nav_backdrop {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #000;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
.nav_backdrop.active {
    opacity: 0.7;
}

/* Hamburger */
.hamburger {
    padding: 15px;
}
.hamburger-box {
    width: 40px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hamburger-inner {
    background-color: #484848;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger-inner::before {
    top: -7px;
    transition: top .15s .15s ease, opacity .1s ease;
}
.hamburger-inner::after {
    bottom: -7px;
    transition: bottom 0.15s 0.15s ease,transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px;
    height: 3px;
    background-color: #484848;
    position: absolute;
}
.hamburger.active .hamburger-inner{
    transform: rotate(45deg);
    transition-delay: .15s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger.active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top .15s ease, opacity .1s .15s ease;
}
.hamburger.active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.15s ease,transform 0.15s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger.active {
    position: fixed;
    right: 0;
    height: var(--fixed-header-height);
}

/* Main */
.hero {
    text-align: center;
}
.hero .hero_text {
    padding: 1em 0;
}
.hero h1 {
    margin-bottom: 20px;
}

/* Tablet Media Queries */
@media screen and (min-width: 768px) {
    .nav_menu {
        width: auto;
        height: 100%;
        flex-direction: row;
        box-shadow: none;
        padding-top: 0;
        transform: translateX(0);
    }
    .hamburger {
        display: none;
    }
}

/*Desktop Media Queries */
@media screen and (min-width: 1024px) {

}