/* Hamburger */
.hamburger {
    padding: 15px;

    @include mq(tablet) {
        display: none;
    }
}
.hamburger-box {
    width: 40px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hamburger-inner {
    background-color: $hamburger;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before,
    &::after {
        content: "";
        display: block;
    }
    &::before {
        top: -7px;
        transition: top 0.15s 0.15s ease, opacity 0.1s ease;
    }
    &::after {
        bottom: -7px;
        transition: bottom 0.15s 0.15s ease,
            transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 20px;
    height: 3px;
    background-color: $hamburger;
    position: absolute;
}

.hamburger.active {
    position: fixed;
    right: 0;
    height: $fixed-header-height;

    .hamburger-inner {
        transform: rotate(45deg);
        transition-delay: 0.15s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::before {
            top: 0;
            opacity: 0;
            transition: top 0.15s ease, opacity 0.1s 0.15s ease;
        }
        &::after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom 0.15s ease,
                transform 0.15s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    }
}
