html {
    scroll-behavior: smooth;
}
body {
    background-color: $white-smoke;
}
section {
    position: relative;
    overflow: hidden;
}

/* DISABLE CSS TRANSITION ON MEDIA QUERY */
body.stop-transition .nav-menu {
    transition: none !important;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.title-section {
    margin-bottom: 2rem;
    color: #ffffff;
    text-shadow: $text-shadow;
    &::after {
        content: "";
        display: block;
        border-bottom: 15px solid $rose;
        border-radius: 10px;
        box-shadow: 2px 2px 10px hotpink;
        width: 8rem;
        position: absolute;
        left: 0.5em;
        bottom: -0.1em;
        z-index: -1;
    }
}

.col {
    @include mq(tablet) {
        flex: 1;
    }
}
.row {
    // margin-bottom: 4rem;

    @include mq(tablet) {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
}
