/* About Section */
.about {
    background: $turquoise;
    padding: 7rem 0;

    p,
    i,
    li {
        color: #ffffff;
        text-shadow: 2px 2px 5px $secondary-color;
    }
}
.profile-picture {
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
    min-width: fit-content;
    img {
        height: 300px;
        width: 300px;
        object-fit: cover;
        border-radius: 50%;
        filter: drop-shadow(2px 2px 10px aquamarine);
    }

    @include mq(tablet) {
        flex: 1;
    }
}
.profile-text {
    @include mq(tablet) {
        flex: 2;
    }
    p {
        margin-bottom: 3rem;
    }
}

/* Bubbles */
.bubble_container {
    // height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    svg {
        height: 100%;
        overflow: visible;
    }
}
.burst1,
.burst2,
.burst3,
.burst4 {
    opacity: 0;
}
.bubble1,
.bubble2,
.bubble3,
.bubble4,
.bubbles {
    fill: white;
    opacity: 0.8;
}
/* Skills */
.tab {
    overflow: hidden;
    z-index: 1;
    margin-bottom: 2rem;

    // @include mq(tablet) {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: flex-start;
    //     flex: 1;
    // }
}
.tablinks {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Comfortaa", sans-serif;
    color: white;
    text-shadow: $text-shadow;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 2rem 1rem 0;
    position: relative;
    transition: all 0.3s;

    &:hover {
        text-shadow: 2px 2px 5px $rose;
    }
}
.tablinks.active {
    color: $rose;
    text-shadow: 2px 2px 2px $isabelline;
    transition: color 0.9s;
}
.tabcontent {
    display: none;
    color: white;

    @include mq(tablet) {
        flex: 1;
    }
}
.tab {
    .active {
        &::after {
            content: "";
            display: block;
            border-bottom: 3px solid $rose;
            border-radius: 5px;
            width: 2rem;
            position: absolute;
            bottom: 0.5rem;
            box-shadow: 1px 1px 2px $isabelline;
        }
    }
}
.skills-row {
    display: flex;
    justify-content: center;
    max-width: 30rem;
    margin: 0 auto;

    @include mq(tablet) {
        margin: 0;
    }
}
.skills-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    // gap: 3rem;
}
.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    i {
        font-size: 4rem;
    }
    .skills-name {
        white-space: nowrap; // IS THIS NEEDED?
    }
}
.hobbies-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
    i {
        width: 3rem;
        font-size: 1.5rem;
    }
}
