/* Header */
header {
    height: $fixed-header-height;
}
.nav {
    height: $fixed-header-height;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: get-color(white);
    box-shadow: 0 1px 5px get-color(gray, light);
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.3s;
    z-index: 2;
}
.nav {
    a {
        height: 100%;
    }
}
.logo {
    height: 100%;
    padding: 0 10px;
    filter: drop-shadow(1px 1px 1px black);
}
.nav-menu {
    position: absolute;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-color: get-color(white);
    box-shadow: 0 0.5rem 1.5rem get-color(gray, light);
    padding-top: $fixed-header-height;
    right: 0;
    transform: translateX(110%);
    transition: transform 0.3s ease-in;

    @include mq(tablet) {
        position: relative;
        width: auto;
        height: 100%;
        flex-direction: row;
        box-shadow: none;
        padding-top: 0;
        transform: translateX(0);
    }
}
.nav-menu.active {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}
.nav-menu-list {
    margin: 20px;
}
.nav-menu-link {
    padding: 20px;
    color: get-color(secondary);
    font-size: 1.2rem;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
    &:hover,
    &:focus {
        color: get-color(rose);
    }
}
.nav-backdrop {
    visibility: hidden;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: $backdrop;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
.nav-backdrop.active {
    visibility: visible;
    opacity: 1;
}
