/* Hero Section */

// .hero {
//     background-image: url(assets/tidehunter_bg.jpg);
//     background-size: cover;
//     background-position: 40%;
//     background-repeat: no-repeat;
//     animation: vroom 5s ease infinite;
// }
// @keyframes vroom {
//     0% {
//         background-position: -200% center;
//     }
//     15% {
//         background-position: 20% -50%;
//     }
//     50% {
//         background-position: 100% 2%;
//     }
//     85% {
//         background-position: 25% 90%;
//     }
//     100% {
//         background-position: 1000% 1000%;
//     }
// }

.hero-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);    
    align-items: center;
    min-height: 75vh;
    padding: 4rem 0;

    @include mq(tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
}
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    span {
        background: $primary-color;
        background: $gradient-color;
        background-size: 500%;
        background-position: left;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        animation: text-animation 2s infinite alternate;
    }
}
@keyframes text-animation {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}
.hero-img {
    width: 90%;
    margin: 0 auto;
    // box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}
.minions {
    position: absolute;
    overflow: hidden;
    top: 0;
    height: 100%;
}
.minion {
    position: relative;
    bottom: 0;
    left: 0;
    width: 10%;
}
