/* Projects Section */
#projects {
    background: #4579e2;
    padding: 7rem 0;
    color: #ffffff;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    @include mq(tablet) {
        flex-direction: row;
    }
}
.project {
    background: #4e5da6;
    border-radius: 10px;
    box-shadow: 2px 2px 10px turquoise;
    @include mq(tablet) {
        width: 45%;
    }
    @include mq(desktop) {
        width: 30%;
    }

    .col {
        padding : 1rem;
        img {
            border-radius: 10px;
            box-shadow: 2px 2px 10px white;
            object-fit: cover;
        }
    }

}
.project-content {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.project-info {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
}
.project-tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    li {
        font-size: 0.9rem;
        border-radius: 4px;
        padding: 2px 5px;
        background: #4579e2;
    }
}
.project-link {
    color: #00e2ff;
    font-weight: bold;
    display: flex;
    gap: 0.5rem;
    transition: 0.3s;
    &:hover {
        color: $rose;
    }
}

