// Colors

//BLUE SHADES //
$primary-color: hsl(226, 81%, 56%); //rgb(51, 94, 234); //#335eea;
$secondary-color: hsl(220, 73%, 58%); //rgb(69, 121, 226); //#4579e2;
$tertiary-color: #4e5da6;

//ACCENTS
$turquoise: hsl(172, 80%, 53%); //rgb(41, 231, 205); //#29E7CD;
$sky-blue-crayola: hsl(187, 100%, 50%); //rgb(0, 226, 255); //#00E2FF;
$rose: hsl(332, 100%, 56%); //rgb(255, 31, 135); //#ff1f87;

// WHITE SHADES
$white-smoke: #f3f3f3;
$isabelline: #f4ebe8;
$ghost-white: #f7f7ff;

$gray-color: #c4c4c4;
$hamburger: #484848;
$backdrop: hsla(0, 0%, 0%, 0.6);

$gradient-color: linear-gradient(45deg, $primary-color, $sky-blue-crayola);

$lighten: 15;
$darken: 25;

// Color Map
$colors: (
    primary: (
        base: $primary-color,
        light: lighten($primary-color, $lighten),
        dark: darken($primary-color, $darken),
    ),
    secondary: (
        base: $secondary-color,
        light: lighten($secondary-color, $lighten),
        dark: darken($secondary-color, $darken),
    ),
    tertiary: (
        base: $tertiary-color,
        light: lighten($tertiary-color, $lighten),
        dark: darken($tertiary-color, $darken),
    ),
    gray: (
        base: $gray-color,
        light: #d3d3d3,
        dark: #69777f,
    ),
    rose: (
        base: $rose,
        light: lighten($rose, $lighten),
        dark: lighten($rose, $darken),
    ),
    turquiose: (
        base: $turquoise,
    ),
    sky: (
        base: $sky-blue-crayola,
    ),
    white: (
        base: $white-smoke,
        light: $ghost-white,
        dark: $isabelline,
    ),
);
