$primary-color: rgb(51, 94, 234); //#335eea;
$secondary-color: rgb(84, 127, 200); //#547fc8;
$fixed-header-height: 4.5rem;
$pink-color: rgb(255, 31, 135); //#ff1f87;
$light-green-color: rgb(93, 255, 99); //#5dff63
$gradient-color: linear-gradient(45deg, $primary-color, $light-green-color);


// NEW
$text-shadow: 2px 2px 5px #484848;
$white-smoke: #f3f3f3;