$primary-color: #335eea;
$secondary-color: #547fc8;
$fixed-header-height: 4.5rem;
$pink-color: #ff1f87;
$gradient-color: linear-gradient(45deg, #335eea, #5dff63);


// NEW
$text-shadow: 2px 2px 5px #484848;
$white-smoke: #f3f3f3;